.message-send-wrapper {
    display: flex;
    height: 100%;
    padding: 8px 15px;
    box-sizing: border-box;
    justify-content: space-around;
}

.text-field-wrapper {
    flex-basis: 80%;
    display: flex;
}

.send-button-wrapper {
    flex-basis: 10%;
}

.text-field {
    background-color: #fff;
    border-radius: 7px;
    padding: 6px 5px 7px 10px !important;
    align-self: center;
    width: 100%;
}

.send-button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.send-button-wrapper span {
    margin: auto 0;
    cursor: pointer;
}
