.user-screen {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.7);
}
.user-wrapper {
    width: 300px;
    height: 150px;
    background: #eee;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    box-sizing: border-box;
    align-items: center;
    align-content: space-between;
}

.title {
    font-size: 18px;
    font-weight: bold;
    flex: 1;
}
.user {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}
